{% extends "base.html" %}
{% block title %} Edit Tag {% endblock %}
{% block content %}
<h1>Edit a tag</h1>
<form action="/tags/{{tag.id}}/edit" , method="POST">
    <div class="mb-3">
        <label for="tag" class="form-label"> Tag Name</label>
        <textarea type="text" class="form-control" id="tag" row=1 name='tag' required>{{tag.name}}</textarea>
    </div>
    <button class="btn btn-success" type="submit">Add</button>
    <a class="btn btn-info" type="button" href="/tags">Cancle</a>
</form>
{% endblock %}