{% extends 'base.html'%}
{%block title %} Home {% endblock %}
{% block content %}
<div class="container">


    <h1>Blogly Recent Posts</h1>

    {% for p in post %}
    <div class='mt-3'>
        <h2>{{p.title}}</h2>
        <P>{{p.content}}</p>

        <small>By {{p.user_table.first_name}} {{p.user_table.last_name}} {{p.created_at}} </small>
    </div>
    <div><b>Tags:</b>
        {% for d in p.relation %}
        <samll><i><a class="btn btn-primary rounded-pill btn-sm" href="/tags/{{d.id}}">{{d.name}}</a></i></samll>
        {% endfor %}
    </div>
    {% endfor %}

</div>
{% endblock %}