{% extends "base.html" %}
{% block title %} Add Tag {% endblock %}
{% block content %}
<h1>Create a tag</h1>
<form action="/tags/new" , method="POST">
    <div class="mb-3">
        <label for="tag" class="form-label"> Tag Name</label>
        <input type="text" class="form-control" id="tag" placeholder="Enter a name for the tag" name='tag' required>
    </div>
    <button class="btn btn-success" type="submit">Add</button>
    <a class="btn btn-info" type="button" href="/tags">Cancle</a>
</form>
{% endblock %}